name: Push the container image

on:
  #워크플로 트리거 설정 - 브랜치 push, 태그의 push, pull request 등 타이밍에 임의의 워크 플로 실행 가능
  #main 브랜치에 push 됐을때(pull request가 main에 머지됐을때)와 git의 태그명이 v로 시작할때 실행
  push:
    branches: # main 브랜치에 push 실행시 워크플로 실행
      - main 
    tags: #v로 시작하는 태그 push 실행시 워크플로 실행
      - 'v*'

env:
  CONTAINER_REGISTRY: ghcr.io

jobs: #워크플로 설정
  push_image:
    #최신 Ubuntu의 가상머신 실행 - 워크플로를 실행하는 가상머신 지정(github actions에서는 러너라고 함)
    runs-on: ubuntu-latest
    #워크플로의 퍼미션 설정
    permissions:
      contents: read #레포지토리 내용에 대한 권한(읽기만 하면 됨)
      packages: write #github package에 대한 권한(push해야하므로 write)
    steps:
      #레포지토리 체크아웃 - actions/checkout이라는 공개된 액션을 사용해서 대상 레포지토리를 실행 환경으로 체크아웃
      - uses: actions/checkout@v4
        with:
          #전체 커밋 히스토리를 가져오도록함(기본값 1 - 하나의 커밋만 확인 가능)
          #fetch-depth를 0으로 해야 git describe --tags --always 가 정상적으로 수행됨
          fetch-depth: 0
      #컨테이너 이미지 태그에 사용하는 버전 계산
      - name: Calculate the version
        #git describe --tags --always : 현재 커밋 기준 가장 가까운 태그를 찾아서 태그,태그이후 커밋 수, 커밋해시 등을 출력
        run: echo "IMAGE_VERSION=$(git describe --tags --always)" >> $GITHUB_ENV
      #QEMU 설정 - 멀티 플랫폼 대응
      - uses: docker/setup-qemu-action@v3
      #BuildKit 설정 - 멀티 플랫폼 대응
      - uses: docker/setup-buildx-action@v3
      #ghcr.io 로그인 처리
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }} #github의 레포지토리를 조작하기위해 액세스 토큰을 자동으로 가져올 수 있음(${{ secrets.GITHUB_TOKEN }}로 참조)
      #Trivy 취약성 스캔
      - name: Run Trivy vulnerability scanner in fs mode
        uses: aquasecurity/trivy-action@0.16.0
        with:
          scan-type: 'fs'
          scan-ref: '.'
          trivy-config: trivy.yaml
      #이미지 빌드, push
      - name: Build and push plain image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true 
          platforms: linux/amd64,linux/arm64
          tags: ${{ env.CONTAINER_REGISTRY }}/${{ github.repository }}:${{ env.IMAGE_VERSION }}
          #캐시 저장 위치 설정
          #type=registry : 컨테이너 레지스트리에 저장하는 이미지를 캐시로 사용
          cache-to: type=registry,ref=${{ env.CONTAINER_REGISTRY }}/${{ github.repository }}:cache,mode=max
          #캐시 참조 위치 설정
          cache-from: type=registry,ref=${{ env.CONTAINER_REGISTRY }}/${{ github.repository }}:cache
